.contacts {
    @extend %list;
    display: flex;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    @extend %vertical-centered;
    @extend %link;
    color: var(--primary-contact-color);
    transition-property: color fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}