.join {
        margin-top: 15px;
        margin-left: 70px;
        margin-right: auto;
}

.join__title {
    @extend %subtitle;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    color: var(--menu-bck);
}