.features {
    @extend %section;
    background: var(--menu-bck);
}

.features__wrap {
    @extend %container;
}

.features__title {
    @extend %visually-hidden;
}

.features__list {
    @extend %list;
    display: flex;
    justify-content: center;
}

.features__thumb {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--bottom-main-bck);
}

.features__icon {
    width: 70px;
    height: 70px;
}

.features__subtitle {
    @extend %subtitle;
    margin-bottom: 10px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.features__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-contact-color);
}

.features__item {
    width: 270px;
}

.features__list .features__item+.features__item {
    margin-left: 30px;
}