.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--top-main-bck);
}

.footer__wrap {
    @extend %container;
    @extend %vertical-centered;
    align-items: baseline;
}

.join {
    margin-top: 15px;
    margin-left: 70px;
}