.portfolio {
    @extend %section;
}

.portfolio__wrap {
    @extend %container;
}

.portfolio__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio__filter .portfolio__item+.portfolio__item {
    margin-left: 8px;
}