.team {
    @extend %section;
    background-color: var(--bottom-main-bck);
}

.team__wrap {
    @extend %container;
}

.team__title {
    margin: 0;
    @extend %title;
}

.team__item {
    background: var(--menu-bck);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team .team__item+.team__item {
    margin-left: 30px;
}

.item-text {
    padding-top: 30px;
    padding-bottom: 30px;
}