.works {
    text-align: center;
    @extend %section;
    padding-top: 0;
}

.works__wrap {
    @extend %container;
}

.works__title {
    @extend %title;
}

.works__descr {
    position: absolute;
    @extend %subtitle;
    color: var(--menu-bck);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
}

.works__image {
    display: flex;
    position: relative;
}

.works__list {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.works .works__item+.works__item {
    margin-left: 30px;
}

